
.login-wrapper .form-inline{
    display: flex;
    justify-content: space-between;

    align-items: center;
}
 .login-wrapper .row{
    margin-bottom: 10px;
}

.msg{
    padding: 10px;
    min-height: 39px;;
    border-radius: 2px;;
}

@media (min-width:992px){
    .login-wrapper{
        width: 25%;
        margin: auto;
        /* text-align: center; */
        border: 1px solid #3333;
        padding: 10px;
    }
}