 .menu-tree-container .nav-item{
    /* background: #09305a; */
    /* color: white; */
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.menu-tree-container .toggle-icon{
    float: right;
} 

@media (min-width:992px){
    .menu-tree-container{
        width: 50%;
        float: left;
    }
}